<footer class="fdv-footer">

    <div class="footer-container">

        <div class="footer-logo">
            <img src="assets/fdv/images/logo-fdv.png" alt="FDV">
            <div class="mt-3 pt-2">
                <p>Repositório Institucional</p>
                <p>Faculdade de Direito de Vitória</p>

            </div>
            
        </div>

        <!-- <div class="footer-column">
            <h4>CURSOS</h4>

            <ul>
                <li><a href="#">Graduação</a></li>
                <li><a href="#">Pós-graduação</a></li>
                <li><a href="#">Mestrado</a></li>
                <li><a href="#">Doutorado</a></li>
                <li><a href="#">Pós-Doutorado</a></li>
            </ul>
        </div> -->

        <!-- <div class="footer-column">
            <h4>INSTITUCIONAL</h4>

            <ul>
                <li><a href="#">Conheça a FDV</a></li>
                <li><a href="#">Corpo Dirigente</a></li>
                <li><a href="#">Responsabilidade Social</a></li>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Carreiras</a></li>
            </ul>
        </div> -->

        <div class="footer-column">
            <h4>CONTATO</h4>

            <ul>
                <li><a href="#">Fale Conosco</a></li>
                <li><a href="#">Ouvidoria</a></li>
                <li><a href="#">Trabalhe Conosco</a></li>
            </ul>

            <div class="footer-address">

                Rua Juiz Alexandre Martins de Castro Filho, nº 215<br>

                Santa Lúcia – Vitória / ES<br>

                CEP 29056-295<br>

                (27) 3041-3672

            </div>

        </div>

    </div>

    <div class="footer-bottom">

        © 2026 Faculdade de Direito de Vitória - Todos os direitos reservados.

    </div>

</footer>